@font-face {
    font-family: 'Arimo';
    src: url('resources/fonts/Arimo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ArimoBold';
    src: url('resources/fonts/Arimo-Bold.ttf') format('truetype');
}


body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'ArimoBold', sans-serif;
}

header {
    text-align: left;
    padding: 2rem;
}

header h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

header h2 {
    font-family: 'Arimo', sans-serif;
    color: #ADADAD;
    font-size: 1.25rem;
    text-transform: lowercase;
    margin: 0;
    display: inline-block; 
    margin-left: 40px;

}

nav {
    background-color: #000;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 3rem 0;
}

nav li {
    margin-right: 2rem;
    margin-bottom: 0.5rem; /* Adjust the margin to reduce spacing above and below */
    display: block;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15rem;
    transition: color 0.3s ease;
    opacity: 1;
    display: block;
    position: relative;
}

nav li:hover a::after {
    content: ""; /* Create a pseudo-element to cover the full clickable area */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.3s ease;
}

nav li:hover a::after,
nav li a:focus::after {
    opacity: 1; /* Hovered or focused item remains at full opacity */
}

nav li:not(:hover) a::after,
nav li:not(:focus) a::after {
    opacity: 0; /* Non-hovered or non-focused items have pseudo-element at 0 opacity */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}
