@font-face {
    font-family: 'Arimo';
    src: url('resources/fonts/Arimo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ArimoBold';
    src: url('resources/fonts/Arimo-Bold.ttf') format('truetype');
}


body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'ArimoBold', sans-serif;
}

header {
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

header h2 {
    font-family: 'Arimo', sans-serif;
    color: #ADADAD;
    font-size: 1.25rem;
    text-transform: lowercase;
    margin: 0;

}

nav {
    background-color: #000;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16.6663rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff; /* Hover color */
    opacity: 1;
}

nav a:not(:hover) {
    opacity: 0.2; /* Opacity for non-hovered items */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}
