@font-face {
    font-family: 'Arimo';
    src: url('resources/fonts/Arimo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ArimoBold';
    src: url('resources/fonts/Arimo-Bold.ttf') format('truetype');
}


body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'ArimoBold', sans-serif;
}

header {
    text-align: left;
    padding: 2rem;
}

header h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

header h2 {
    font-family: 'Arimo', sans-serif;
    color: #ADADAD;
    font-size: 1.25rem;
    text-transform: lowercase;
    margin: 0;
    display: inline-block; 
    margin-left: 40px;

}

nav {
    background-color: #000;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15rem;
    transition: color 0.3s ease;
    opacity: 1;
    display: inline-block;
}

nav a:hover {
    opacity: 1;
}

nav li:not(:hover) a {
    opacity: 0.2; /* Non-hovered items go to 20% opacity */
}

nav a:hover,
nav a:focus { /* Added focus for better accessibility */
    opacity: 1;
}

main {
    padding: 0rem;
}

section {
    margin-bottom: 2rem;
}
